In [12]:
import psycopg2
import pandas as pd
from dotenv import dotenv_values
import duckdb

In [2]:
config = dotenv_values()

In [5]:
conn = psycopg2.connect(
    database=config['POSTGRES_DB'],
    user=config['POSTGRES_USER'],
    password=config['POSTGRES_PASSWORD'],
    port=config['HOST_PORT']
)

In [11]:
df = pd.read_sql("select * from actor_films", conn)

C:\Users\jlpay\AppData\Local\Temp\ipykernel_14920\3284293064.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from actor_films", conn)

In [18]:
with duckdb.connect("./src/db.duckdb") as con:
    con.sql("""CREATE TABLE actor_films (
            actor text,
            actorid text,
            film text,
            year int,
            votes int,
            rating real,
            filmid text
            )""")
    con.sql("""
INSERT INTO actor_films
SELECT * FROM df
""")

In [20]:
with duckdb.connect("./src/db.duckdb") as con:
    con.table("actor_films").show()

┌───────────────┬───────────┬───────────────────────────────┬───────┬───────┬────────┬───────────┐
│     actor     │  actorid  │             film              │ year  │ votes │ rating │  filmid   │
│    varchar    │  varchar  │            varchar            │ int32 │ int32 │ float  │  varchar  │
├───────────────┼───────────┼───────────────────────────────┼───────┼───────┼────────┼───────────┤
│ Fred Astaire  │ nm0000001 │ Ghost Story                   │  1981 │  7731 │    6.3 │ tt0082449 │
│ Fred Astaire  │ nm0000001 │ The Purple Taxi               │  1977 │   533 │    6.6 │ tt0076851 │
│ Fred Astaire  │ nm0000001 │ The Amazing Dobermans         │  1976 │   369 │    5.3 │ tt0074130 │
│ Fred Astaire  │ nm0000001 │ The Towering Inferno          │  1974 │ 39888 │    7.0 │ tt0072308 │
│ Lauren Bacall │ nm0000002 │ Ernest & Celestine            │  2012 │ 18793 │    7.9 │ tt1816518 │
│ Lauren Bacall │ nm0000002 │ The Forger                    │  2012 │  4472 │    5.4 │ tt1368858 │
│ Lauren Bacall │ nm0000002 │ All at Sea                    │  2010 │   110 │    5.7 │ tt0858500 │
│ Lauren Bacall │ nm0000002 │ The Walker                    │  2007 │  5256 │    5.8 │ tt0783608 │
│ Lauren Bacall │ nm0000002 │ Manderlay                     │  2005 │ 22622 │    7.3 │ tt0342735 │
│ Lauren Bacall │ nm0000002 │ These Foolish Things          │  2005 │   358 │    5.6 │ tt0439848 │
│       ·       │     ·     │    ·                          │    ·  │    ·  │     ·  │     ·     │
│       ·       │     ·     │    ·                          │    ·  │    ·  │     ·  │     ·     │
│       ·       │     ·     │    ·                          │    ·  │    ·  │     ·  │     ·     │
│ Michael Caine │ nm0000323 │ The Hand                      │  1981 │  5560 │    5.5 │ tt0082497 │
│ Michael Caine │ nm0000323 │ Dressed to Kill               │  1980 │ 36055 │    7.1 │ tt0080661 │
│ Michael Caine │ nm0000323 │ The Island                    │  1980 │  3847 │    5.3 │ tt0080934 │
│ Michael Caine │ nm0000323 │ Beyond the Poseidon Adventure │  1979 │  4783 │    4.7 │ tt0078856 │
│ Michael Caine │ nm0000323 │ Ashanti                       │  1979 │  1717 │    5.5 │ tt0078801 │
│ Michael Caine │ nm0000323 │ The Swarm                     │  1978 │  7002 │    4.5 │ tt0078350 │
│ Michael Caine │ nm0000323 │ California Suite              │  1978 │  6730 │    6.2 │ tt0077289 │
│ Michael Caine │ nm0000323 │ A Bridge Too Far              │  1977 │ 52698 │    7.4 │ tt0075784 │
│ Michael Caine │ nm0000323 │ Silver Bears                  │  1977 │   876 │    6.1 │ tt0076715 │
│ Michael Caine │ nm0000323 │ The Eagle Has Landed          │  1976 │ 19705 │    6.9 │ tt0074452 │
├───────────────┴───────────┴───────────────────────────────┴───────┴───────┴────────┴───────────┤
│ ? rows (>9999 rows, 20 shown)                                                        7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────┘

In [34]:
with duckdb.connect("./src/db.duckdb") as con:
    con.sql("""
SELECT
    actorid,
            year,
            filmid,
            count(*)
FROM actor_films
            group by all
having
            count(*) > 1
""").show()

┌─────────┬───────┬─────────┬──────────────┐
│ actorid │ year  │ filmid  │ count_star() │
│ varchar │ int32 │ varchar │    int64     │
├─────────┴───────┴─────────┴──────────────┤
│                  0 rows                  │
└──────────────────────────────────────────┘

In [33]:
with duckdb.connect("./src/db.duckdb") as con:
    con.sql("""
SELECT
    *
FROM actor_films
where
            actorid = 'nm0763928'
            and year = 2008
""").show()

┌─────────────────┬───────────┬────────────────┬───────┬───────┬────────┬───────────┐
│      actor      │  actorid  │      film      │ year  │ votes │ rating │  filmid   │
│     varchar     │  varchar  │    varchar     │ int32 │ int32 │ float  │  varchar  │
├─────────────────┼───────────┼────────────────┼───────┼───────┼────────┼───────────┤
│ Rodrigo Santoro │ nm0763928 │ Che: Part One  │  2008 │ 44468 │    7.2 │ tt0892255 │
│ Rodrigo Santoro │ nm0763928 │ Che: Part Two  │  2008 │ 32407 │    6.9 │ tt0374569 │
│ Rodrigo Santoro │ nm0763928 │ Redbelt        │  2008 │ 20361 │    6.7 │ tt1012804 │
│ Rodrigo Santoro │ nm0763928 │ Lion's Den     │  2008 │  2987 │    7.0 │ tt1022606 │
│ Rodrigo Santoro │ nm0763928 │ Os Desafinados │  2008 │   397 │    6.1 │ tt0456122 │
└─────────────────┴───────────┴────────────────┴───────┴───────┴────────┴───────────┘

In [115]:
with duckdb.connect('./src/db.duckdb') as con:
    con.sql("drop type quality_class")
    con.sql("create type quality_class as ENUM ('star', 'good', 'average', 'bad')")
    con.sql("drop type films")
    con.sql("""create type films as struct(
                film text,
                votes integer,
                rating real,
                filmid text)""")
    con.sql("DROP TABLE actors")
    con.sql("""CREATE TABLE actors (
            actor text,
            films films[],
            quality_class quality_class,
            is_active bool,
            year integer
            )""")

In [116]:
with duckdb.connect('./src/db.duckdb') as con:
    con.sql("""
            insert into actors
            with this_year_dupe as (
        select
            *,
            avg(rating) over (partition by actorid) avg_rating,
            array_agg(ROW(film, votes, rating, filmid)::films) over (partition by actorid) as  films,
            --struct_pack(ROW(film, votes, rating, filmid)::films) over (partition by actorid) as  films,
            row_number() over (partition by actorid) rn,
            case when actorid is not null then 1 else 0 end is_active
        from actor_films
        where
            year = 1970),
    last_year as (
            select
                *
        from actors
            where
                year = 1969
            ),
    this_year as (
            select
                *,
            case
                when ty.avg_rating > 8 then 'start'
            when ty.avg_rating > 7 then 'good'
            when ty.avg_rating > 6 then 'average'
            else 'bad'
        end::quality_class as quality_class,
        from this_year_dupe as ty
            where rn = 1
            )

    select
            coalesce(ty.actor, ly.actor) as actor,
            ty.films as films,
            ty.quality_class,
            ty.is_active,
            coalesce(ty.year, ly.year + 1) as year
    from this_year ty
            full outer join last_year ly
            on ty.actor = ly.actor

""").show()

AttributeError: 'NoneType' object has no attribute 'show'

In [40]:
with duckdb.connect('./src/db.duckdb') as con:
    con.sql("""
            select
                min(year)
        from actor_films
""").show()

┌─────────────┐
│ min("year") │
│    int32    │
├─────────────┤
│        1970 │
└─────────────┘

In [104]:
with duckdb.connect('./src/db.duckdb') as con:
    con.sql("""
            select
                *
            from actor_films
            where
                year = 1970
            """).show()

┌─────────────────────┬───────────┬─────────────────────────────┬───────┬───────┬────────┬───────────┐
│        actor        │  actorid  │            film             │ year  │ votes │ rating │  filmid   │
│       varchar       │  varchar  │           varchar           │ int32 │ int32 │ float  │  varchar  │
├─────────────────────┼───────────┼─────────────────────────────┼───────┼───────┼────────┼───────────┤
│ Brigitte Bardot     │ nm0000003 │ The Bear and the Doll       │  1970 │   431 │    6.4 │ tt0064779 │
│ Brigitte Bardot     │ nm0000003 │ Les novices                 │  1970 │   219 │    5.1 │ tt0066164 │
│ Ingrid Bergman      │ nm0000006 │ A Walk in the Spring Rain   │  1970 │   696 │    6.2 │ tt0066542 │
│ Bette Davis         │ nm0000012 │ Connecting Rooms            │  1970 │   585 │    6.9 │ tt0066943 │
│ Olivia de Havilland │ nm0000014 │ The Adventurers             │  1970 │   656 │    5.5 │ tt0065374 │
│ Kirk Douglas        │ nm0000018 │ There Was a Crooked Man...  │  1970 │  4138 │    7.0 │ tt0066448 │
│ Henry Fonda         │ nm0000020 │ There Was a Crooked Man...  │  1970 │  4138 │    7.0 │ tt0066448 │
│ Henry Fonda         │ nm0000020 │ The Cheyenne Social Club    │  1970 │  4085 │    6.9 │ tt0065542 │
│ Henry Fonda         │ nm0000020 │ Too Late the Hero           │  1970 │  3302 │    6.7 │ tt0066471 │
│ John Gielgud        │ nm0000024 │ Julius Caesar               │  1970 │  1552 │    6.1 │ tt0065922 │
│      ·              │     ·     │   ·                         │    ·  │    ·  │     ·  │     ·     │
│      ·              │     ·     │   ·                         │    ·  │    ·  │     ·  │     ·     │
│      ·              │     ·     │   ·                         │    ·  │    ·  │     ·  │     ·     │
│ Keenan Wynn         │ nm0943978 │ Loving                      │  1970 │   567 │    6.1 │ tt0066017 │
│ Keenan Wynn         │ nm0943978 │ The Animals                 │  1970 │   290 │    3.7 │ tt0065407 │
│ Dana Wynter         │ nm0944073 │ Airport                     │  1970 │ 17589 │    6.6 │ tt0065377 │
│ Francine York       │ nm0948696 │ Cannon for Cordoba          │  1970 │   530 │    5.7 │ tt0065520 │
│ Susannah York       │ nm0948772 │ Brotherly Love              │  1970 │   312 │    5.7 │ tt0065581 │
│ Burt Young          │ nm0949350 │ Carnival of Blood           │  1970 │   418 │    3.9 │ tt0066893 │
│ Gig Young           │ nm0949574 │ Lovers and Other Strangers  │  1970 │  1090 │    6.6 │ tt0066016 │
│ Harris Yulin        │ nm0950867 │ End of the Road             │  1970 │   274 │    6.6 │ tt0065692 │
│ Harris Yulin        │ nm0950867 │ Maidstone                   │  1970 │   213 │    5.1 │ tt0064625 │
│ Sue Silla           │ nm3024314 │ Wilbur and the Baby Factory │  1970 │   103 │    5.0 │ tt0065213 │
├─────────────────────┴───────────┴─────────────────────────────┴───────┴───────┴────────┴───────────┤
│ 845 rows (20 shown)                                                                      7 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [117]:
with duckdb.connect('./src/db.duckdb') as con:
    con.sql("""
            select
                *
            from actors
            where
                year = 1970
            """).show()

┌─────────────────────┬────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────────────────────────────────┬───────────┬───────┐
│        actor        │                                                                                                                                                                                                     films                                                                                                                                                                                                      │             quality_class              │ is_active │ year  │
│       varchar       │                                                                                                                                                                      struct(film varchar, votes integer, rating float, filmid varchar)[]                                                                                                                                                                       │ enum('star', 'good', 'average', 'bad') │  boolean  │ int32 │
├─────────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────────────────────────────────┼───────────┼───────┤
│ John Gielgud        │ [{'film': Julius Caesar, 'votes': 1552, 'rating': 6.1, 'filmid': tt0065922}]                                                                                                                                                                                                                                                                                                                                   │ average                                │ true      │  1970 │
│ Sam Elliott         │ [{'film': The Games, 'votes': 417, 'rating': 6.2, 'filmid': tt0065757}]                                                                                                                                                                                                                                                                                                                                        │ average                                │ true      │  1970 │
│ Jeffrey Jones       │ [{'film': The Revolutionary, 'votes': 229, 'rating': 5.8, 'filmid': tt0066296}]                                                                                                                                                                                                                                                                                                                                │ bad                                    │ true      │  1970 │
│ Donald Sutherland   │ [{'film': MASH, 'votes': 67892, 'rating': 7.4, 'filmid': tt0066026}, {'film': Kelly's Heroes, 'votes': 45666, 'rating': 7.6, 'filmid': tt0065938}, {'film': Start the Revolution Without Me, 'votes': 2650, 'rating': 6.5, 'filmid': tt0066402}, {'film': Alex in Wonderland, 'votes': 734, 'rating': 5.4, 'filmid': tt0065380}, {'film': Act of the Heart, 'votes': 191, 'rating': 6.1, 'filmid': tt0065370}] │ average                                │ true      │  1970 │
│ Judith Anderson     │ [{'film': A Man Called Horse, 'votes': 8217, 'rating': 6.9, 'filmid': tt0066049}]                                                                                                                                                                                                                                                                                                                              │ average                                │ true      │  1970 │
│ Sonia Braga         │ [{'film': A Moreninha, 'votes': 121, 'rating': 5.7, 'filmid': tt0189762}]                                                                                                                                                                                                                                                                                                                                      │ bad                                    │ true      │  1970 │
│ Jim Brown           │ [{'film': El Condor, 'votes': 983, 'rating': 6.0, 'filmid': tt0065570}, {'film': ...tick... tick... tick..., 'votes': 952, 'rating': 6.7, 'filmid': tt0065360}, {'film': The Grasshopper, 'votes': 380, 'rating': 5.8, 'filmid': tt0065795}]                                                                                                                                                                   │ average                                │ true      │  1970 │
│ Hector Elizondo     │ [{'film': The Landlord, 'votes': 2250, 'rating': 7.0, 'filmid': tt0065963}]                                                                                                                                                                                                                                                                                                                                    │ average                                │ true      │  1970 │
│ Katharine Ross      │ [{'film': Fools, 'votes': 125, 'rating': 5.3, 'filmid': tt0065731}]                                                                                                                                                                                                                                                                                                                                            │ bad                                    │ true      │  1970 │
│ Eva Marie Saint     │ [{'film': Loving, 'votes': 567, 'rating': 6.1, 'filmid': tt0066017}]                                                                                                                                                                                                                                                                                                                                           │ average                                │ true      │  1970 │
│        ·            │                                  ·                                                                                                                                                                                                                                                                                                                                                                             │    ·                                   │  ·        │    ·  │
│        ·            │                                  ·                                                                                                                                                                                                                                                                                                                                                                             │    ·                                   │  ·        │    ·  │
│        ·            │                                  ·                                                                                                                                                                                                                                                                                                                                                                             │    ·                                   │  ·        │    ·  │
│ Jessie Royce Landis │ [{'film': Airport, 'votes': 17589, 'rating': 6.6, 'filmid': tt0065377}]                                                                                                                                                                                                                                                                                                                                        │ average                                │ true      │  1970 │
│ Roger Lloyd Pack    │ [{'film': Figures in a Landscape, 'votes': 1247, 'rating': 6.6, 'filmid': tt0065720}]                                                                                                                                                                                                                                                                                                                          │ average                                │ true      │  1970 │
│ Sondra Locke        │ [{'film': Cover Me Babe, 'votes': 158, 'rating': 4.3, 'filmid': tt0065582}]                                                                                                                                                                                                                                                                                                                                    │ bad                                    │ true      │  1970 │
│ Guy Madison         │ [{'film': Reverend's Colt, 'votes': 114, 'rating': 5.1, 'filmid': tt0066295}]                                                                                                                                                                                                                                                                                                                                  │ bad                                    │ true      │  1970 │
│ Nancy Marchand      │ [{'film': Tell Me That You Love Me, Junie Moon, 'votes': 726, 'rating': 6.2, 'filmid': tt0066445}]                                                                                                                                                                                                                                                                                                             │ average                                │ true      │  1970 │
│ Ingrid Pitt         │ [{'film': The Vampire Lovers, 'votes': 5617, 'rating': 6.5, 'filmid': tt0066518}]                                                                                                                                                                                                                                                                                                                              │ average                                │ true      │  1970 │
│ Vito Scotti         │ [{'film': The Boatniks, 'votes': 679, 'rating': 5.5, 'filmid': tt0065482}, {'film': The Aristocats, 'votes': 95053, 'rating': 7.1, 'filmid': tt0065421}]                                                                                                                                                                                                                                                       │ average                                │ true      │  1970 │
│ Eli Wallach         │ [{'film': The Angel Levine, 'votes': 616, 'rating': 5.9, 'filmid': tt0065400}, {'film': The People Next Door, 'votes': 200, 'rating': 6.3, 'filmid': tt0066209}, {'film': The Adventures of Gerard, 'votes': 267, 'rating': 5.1, 'filmid': tt0065375}, {'film': Zig Zag, 'votes': 365, 'rating': 6.0, 'filmid': tt0066605}]                                                                                    │ bad                                    │ true      │  1970 │
│ Dennis Weaver       │ [{'film': A Man Called Sledge, 'votes': 1136, 'rating': 5.9, 'filmid': tt0066050}]                                                                                                                                                                                                                                                                                                                             │ bad                                    │ true      │  1970 │
│ Paul Williams       │ [{'film': Watermelon Man, 'votes': 1814, 'rating': 6.6, 'filmid': tt0066550}]                                                                                                                                                                                                                                                                                                                                  │ average                                │ true      │  1970 │
├─────────────────────┴────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────────────────────────────────┴───────────┴───────┤
│ 556 rows (20 shown)                                                                                                                                                                                                                                                                                                                                                                                                                                                                     5 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘